<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Courses</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Descripcion</th>
				<th>Precio</th>
				<th>Horas</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="course : ${courses}" >
			<th><span th:text="${course.name}">Name</span></th>
			<th><span th:text="${course.description}">Name</span></th>
			<th><span th:text="${course.price}">Name</span></th>
			<th><span th:text="${course.hours}">Name</span></th>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th><button type="submit" name="action" value="delete">Delete</button></th>
				<th><button type="submit" name="action" value="update">Update</button></th>
			</tr>
		</tfoot>
	</table>
	
	<form action="#" th:action="@{/course/addcourse}" th:object="${course}" method="post">
		<p>Name: <input type="text" th:field="*{name}"/></p>
		<p>Descripcion: <input type="text" th:field="*{description}"/></p>
		<p>Precio: <input type="text" th:field="*{price}"/></p>
		<p>Horas: <input type="text" th:field="*{hours}"/></p>
		<p><input type="submit" value="Enviar"/></p>
	</form>
</body>
</html>